---
---
<header class=" bg-secondary flex items-center justify-between p-4 text-white">
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="testTd/blog">Blog</a></li>
      <li><a href="testTd/about">About</a></li>
      <li><a href="testTd/newsletter">Newsletter</a></li>
    </ul>
    </nav>
  </header>